<main class="wrapper">
  <section class="section parallax bg1">
    <h1 class="parallax-text"></h1>
  </section>

  <section class="section static">
    <div class="container-fluid text-center bg-grey">
      <h2>We're passionate about drinking</h2>
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://cdn.pixabay.com/photo/2019/09/23/05/46/drink-4497592_1280.jpg" alt="Hops">
            <p><strong>Small Batch</strong></p>
            <p>Our mission is to make craft beer easy to understand (and drink), that’s why we use alternative style nomenclature. Balance, quality and consistently are the foundation of all our beers. Remembering the roots of beer, we work to make craft beer more accessible.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://images.squarespace-cdn.com/content/v1/55d3b8f3e4b0ee67516b878a/1526937754637-6702AOWQVNNK44ERHUIM/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0pE4cef1KNtWo36k-CFnr6wOF2g5O-PFkVuvW_ba6dQUZZpzEt6WQHHQe4EHY-NJIA/P1070035.png" alt="Beer Flight">
            <p><strong>Organic</strong></p>
            <p>We question the status quo to improve the way beer and business is done. We strive to do the best thing, and many times that means pushing the boundaries on what’s easy, comfortable or widely accepted—whether its our no-tipping practice to gender neutral bathrooms.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://cdn.pixabay.com/photo/2015/09/02/13/26/glasses-919071_1280.jpg" alt="Brewery">
            <p><strong>Locally Sourced</strong></p>
            <p>We have a modern, hi-tech approach to brewing. We run our own lab where we track, test and analyze our beer throughout the brewing process.</p>
          </div>
        </div>
    </div>
  </section>

  <section class="section parallax bg2">
    <h1 class="parallax-text">Our mission</h1>
  </section>

  <%# <section class="section static">
    <%# <h1 class="parallax-text static-text">We're passionate about drinking</h1> %>
    
  <%# </section> %>
</main>

