<main class="wrapper">
  <section class="section parallax bg1">
    <h1 class="parallax-text">Choose Kegsy</h1>
  </section>
  <section class="section static">
    <h1 class="parallax-text">We're passionate about drinking</h1>
  </section>
  <section class="section parallax bg2">
    <h1 class="parallax-text">Our mission</h1>
  </section>
</main>