<main class="wrapper">
  <section class="section parallax bg1">
    <h1 class="parallax-text"></h1>
  </section>

  <section class="section static">
    <div class="container-fluid text-center bg-grey">
      <h2>We're passionate about drinking</h2>
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://cdn.pixabay.com/photo/2019/09/23/05/46/drink-4497592_1280.jpg" alt="Hops">
            <p><strong>Hangover Free</strong></p>
            <p>Our mission is question the status quo, drinking quality beer shouldn't be hard. We work to bring you products that don't give you a horrible hangover.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://images.squarespace-cdn.com/content/v1/55d3b8f3e4b0ee67516b878a/1526937754637-6702AOWQVNNK44ERHUIM/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0pE4cef1KNtWo36k-CFnr6wOF2g5O-PFkVuvW_ba6dQUZZpzEt6WQHHQe4EHY-NJIA/P1070035.png" alt="Beer Flight">
            <p><strong>Hip</strong></p>
            <p>We have a modern, hi-tech approach to drinking. We strive to offer products that fit in with your Instagram aesthetic. If your post with our product doesn't go viral, we offer a full money back guarantee. </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://cdn.pixabay.com/photo/2015/09/02/13/26/glasses-919071_1280.jpg" alt="Brewery">
            <p><strong>Hella Good</strong></p>
            <p>We know what drinkers want and we give you just that. We offer exclusive non-GMO, low-carb, gluten-free, and calorie free products.</p>           
          </div>
        </div>
    </div>
  </section>

  <section class="section parallax bg2">
    <h1 class="parallax-text">Choose Kegsy</h1>
  </section>
</main>

