/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

// navbar header on every page
.navbar {
  margin-top: 4%
}

.nav-brand {
  text-align: center;
  padding-top: 2%
}

.login-loggout-container {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  margin-top: 1.1%;
  margin-right: 1.1%;
}

// cards styling for products
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin-top: 1%;
  margin-bottom: 1%;
}