/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

body {
  background-color: rgb(254, 219, 105);
}

.bg-merchant-nav {
  background-color: rgb(161, 220, 145);
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.top-brand-name {
  font-family: 'Modak', cursive;
}

p {
  font-family: 'Lato', sans-serif;
}

.navbar-expand-lg a {
  color: rgb(0, 0, 0);
}

// navbar header on every page
.top-brand-name {
  text-align: center;
  font-size: 7rem;
  padding-bottom: 2%;
  margin-top: 2%;
}
.top-brand-name a {
  color: white
}

.all-nav-parts-container {
  background-color: rgb(255, 172, 172);
}

// login/logout and baskets
.login-loggout-container {
  margin-right: 2%;
  display: flex;
  flex-direction: column;
}

.login-basket-nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 7.5%;
}

.btn {
  border:none;
}
.btn-dark {
  background-color: rgb(255, 71, 71);
}
.logout-btn {
  margin-top: 2%
}

.basket-img {
  max-width: 5vw;
}

.cart-link {
  margin-right: 1%;
  background-color: transparent;
}

// main and footer on every page
main {
  min-height: 100vh;
  margin: 3%;
}

footer {
  text-align: center;
  padding: 3%;
  background-color: rgb(255, 172, 172);
  color: white;
}

// cards styling for products
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  display:flex;
  justify-content:space-evenly;
  padding:1em;
  border-color: red;
  margin-bottom: 5em;
}

.category-title {
  padding:2em;
}
// show product page
.show-product-img {
  position: relative;
  float: left;
  width:  100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;} 

// Fruit Links Header
.fruit-img {
  max-width: 7vw;
}

.nav-fruit-img{
  max-width: 1.5em;
  margin-right: 1%;
}

.fruit-shape-links {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.8);
}

.fruit-img:hover, .basket-img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s; 

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

// Homepage
.category-card-container {
  display: flex;
}

.card-img-top {
  max-width: 50%
}

// General
ul {
  list-style: none;
}

form {
  margin: 1em;
}

a {
  color: black
}

a:hover {
  text-decoration: none;
  color: rgb(254, 219, 105);
}

img { 
  max-width: 500px;
  max-height: 500px;
}

.product-thumbnail {
  max-width: 3em;
}

.fruitstand-img {
  max-width: 1.6em;
}

.rating-img {
  max-width: 2rem;
}

.review-containter {
  line-height: 0.5rem;
  border-bottom: grey 1px solid;
  margin: 2%;
}

.new-form-page {
  min-height: 300vh;
}