/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

    /* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

// $primary-font: font-family: 

body, h1, h2, h3, h4, h5 {
   font-family: 'Raleway', sans-serif;
   color: black;
}

h1, h2, h3, h4, h5 {
   font-weight: bold;
}

.bolded {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

// PRODUCT IMAGES

.img * {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-cart * {
  width: 250px;
  height: 250px;
}

.img-description {
  position: relative;
}

// HEADER

.app-header__nav {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.app-header__nav_item {
margin-top: 1rem;
}

.app-header__site-nav-container .app-header__nav_item {
margin-right: 2rem;
}

.app-header__user-nav-container .nav-item {
margin-left: 2rem;
}

.app-header__header {
   max-width: 100%;
   background-color: white;
   margin-bottom: 0.5rem;
   padding: 2rem 1rem 0.5rem 1rem;
  //  text-transform: uppercase;
   h1 {
     text-align: center;
     margin: 25px auto 40px auto;
     a {
       color: white;
       padding-right: 25px;
       margin-right: 15px;
       text-decoration: none;
     }
     small {
       color: white;
     }
   }
   p {
     margin-bottom: 5px;
   }
 }

.float-right {
  float: right !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-item {
  text-decoration: none;
}

.logo {
  text-align: center;
}

// FOOTER

.app-footer__nav {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.app-footer__nav_item {
margin-top: 1rem;
}

.app-footer__nav_item .nav-link {
color: blueviolet;
}

.app-footer__site-nav-container .app-footer__nav_item {
margin-right: 2rem;
}

.app-footer__user-nav-container .nav-item {
margin-left: 2rem;
}

.app-footer__footer {
   max-width: 100%;
   background-color: white;
   margin-bottom: 0.5rem;
   padding: 2rem 1rem 0.5rem 1rem;
   h1 {
     text-align: center;
     margin: 25px auto 40px auto;
     a {
       color: white;
       padding-right: 25px;
       margin-right: 15px;
       border-right: white 2px solid;
     }
     small {
       color: white;
     }
   }
   p {
     margin-bottom: 5px;
   }
 }

//  PRODUCT SHOW
.product-show h3{
  font-size: 1.5em;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
}

.description {
  margin: 1em 0;
  padding: 1em 0;
  font-style: italic;
  padding-bottom: 0.5em;
}

.types, .types ul, .nickname {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  line-height: 1.8em;
}

// LINK FORMATTING

a:hover {
  color: darkgoldenrod;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.home {
  font-weight: bold;
}
// BUTTONS

.btn-primary {
  background-color: goldenrod;
  border-color: goldenrod;
}

.copyright {
  text-align: center;
  font-size: small;
}

// CART

.cont-center {
  display: flex;
  align-content: center;
  justify-content: center;
}

#text-just-center {
  vertical-align: middle;
}

.text-bold {
  font-size: 1.5rem
}

.align-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 4em;
  padding-left: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.align-right > h4 {
  padding-bottom: 1em;
}

.hr-total {
  border: 1px solid black;
  margin-left: 5vw;
  margin-right: 5vw;
}

.h-center-text {
  text-align: center;
  padding: 1.75em;
}

.confirm-header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 2em;
}

#embed-title {
  padding-bottom: 0.8em;
}

.confirm-info {
  display: flex;
  justify-content: space-around;
}

.confirm-info ul {
  margin-bottom: 0;
  list-style-type: none;
  padding-inline-start: 0;
}

// Checkout Page

.form-container{
  padding: 2rem;
  width: 75vw;
}

.h-center-text-no-pad {
  text-align: center;
}

.order-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// merchant_order_page

.merch-order-ul ul {
  margin-bottom: 0;
  list-style-type: none;
  padding-inline-start: 0;
  line-height: 2em;
  margin-left: 20vw;
}



