// Place all the styles related to the Merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h-center-text-no-pad {
  margin-bottom: 2rem;
}

.d-flex {
  flex-wrap: wrap;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-bottom: 2rem;
}