// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  margin: 2rem;
}

// .products-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
// }

.product-photo,  {
  height: 25vw;
  width: 25vh;
}