// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-photo img {
  width: 32vw;
  height: auto;
  float: top;
  padding: 1em;
}

.product-photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.thumbnail {
  width: 32vw;
  height: 32vh;
  padding: 1em;
  margin-right: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.carousel-inner > .carousel-item > a img {
  width:640px;
  height:360px;
  object-fit: contain;
}
