<section class="cards-container">
  <% Product.all.shuffle.each do |product| %>
    <section class="card" style="width: 18rem;">
      <%= image_tag (product.img_url), class:"card-img-top", alt:"#{product.name} product image" %> 
      <div class="card-body">
        <h5> <%= link_to product.name, product_path(product.id) %> </h5>
        <p class="card-text"> $<%= product.price %> </p>
        <% merchant = User.find_by(id: product.user_id)%>
        <%# This should be link to merchant %>
        <p class="card-text"><strong><%= merchant.merchant_name %>'s</strong> fruit stand ----> MAKE LINK!! </p> 
      </div>  
    </section>
  <% end %>
</section>