<section>
  <h1>Products</h1>
  <p><%= link_to "Add new product", new_product_path %></p>
  <% if @products.empty? %>
    <p> No products available </p>
  <% end %>
  
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm">
        <span class="img-description"><%= product.name %></span>
        <%= link_to product_path(product.id) do %>
          <span class="img"><%= image_tag "#{product.photo_url}"%></span>
          <% end %>
        </div>
      <% end %>
    </div>
    
  </div>


</section>

