<section>
  <h1>Products</h1>
  <% if session[:merchant_id] %>
    <p><%= link_to "Add new product", new_product_path, class: "btn btn-primary" %></p>
  <% end %>
  <% if @products.empty? %>
    <p> No products available </p>
  <% end %>

  <%# <aside> %>
    <%# <h3>Shop by Merchant</h3> %>
    <%# @merchants.each do |merchant| %>
      <%#= link_to filtered_products_path(merchant.id) do %>
        <%#= merchant.username %>
      <%# end %>
    <%# end %>
  <%# </aside> %>

  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <% if product.retired == false%>
          <div class="col-sm">
          <span class="img-description"><%= product.name %></span>
          <%= link_to product_path(product.id) do %>
            <span class="img"><%= image_tag "#{product.photo_url}"%></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


</section>

