<section>
  <h3><%= @merchant.username%>'s Shop</h3>
  <% @merchant.products.each_slice(3) do |product| %>
    <div class="row">
    <% if @merchant.products.length == 0 %>
      <p>No products currently for sale</p>
    <% end %>
      <% @merchant.products.each do |product| %>
        <% if product.retired == false%>
          <div class="col-md-4"><%= product.name %>
            <p class="caption center-block"><%= link_to product_path(product.id) do %></p>
              <p class="img"><%= image_tag "#{product.photo_url}"%></p>
              <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>